#box1 {
    width: 218px;
    height: 218px;
    background-color: rgba(254, 3, 3, 1);
    float: left;
}
#box2 {
    width: 218px;
    height: 218px;
    background-color: rgba(5, 0, 255, 1);
    float: right;
}